<!DOCTYPE html>
<html>
  <head>
     <title>login</title>

  </head>
  <body>
    <div class="container">
        <form action="/" method="post">
          <input name="username" type="text" placeholder="Please enter your user name: " required>
          <button name="user" type="submit">Submit</button>
        </form>
    </div>
  </body>
</html>
