<html ng-app="pawmdApp" >
  <!-- This page uses AngularJS -->
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Paw-MD</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <style>
      #map {
        width: 120%;
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
     
      
     table.blueTable
   	  {
   	  	font-family: "Comic Sans MS",cursive,sans-serif;
   	  	border: 1px solid #A4A4A4;
   	  	background-color: #FFFFFF;
   	  	width:600px;
   	  	height: 600px;
   	  	text-align:left;
   	  	border-collapse: collapse;
   	  }
   	  table.blueTable td, table.blueTable th
   	  {
   	  	border: 1px solid #125E16;
   	  	padding: 3px 2px;
   	  }
   	  table.blueTable tbody td
   	  {
   	  	font-size: 13px;
   	  	color:#060606;
   	  	font-weight: bold;
   	  }
   	  table.blueTable tr:nth-child(even)
   	  {
   	  	background: #87D578;
   	  }
   	  table.blueTable thead
   	  {
   	  	background: #3EB730;
   	  	background: -moz-linear-gradient(top, #6ec964 0%, #51be44 66%, #3EB730 100%);
   	  	background: -webkit-linear-gradient(top, #6ec964 0%, #51be44 66%, #3EB730 100%);
   	  	background: linear-gradient(to bottom, #6ec964 0%, #51be44 66%, #3EB730 100%);
 		border-bottom: 2px solid #444444;
 	  }
 	  table.blueTable thead th 
 	  {
 	  	font-size: 15px;
 	  	font-weight: bold;
  		color: #FFFFFF;
  		border-left: 2px solid #1B8B44;
	  }	
	  table.blueTable thead th:first-child 
	  {
 		 border-left: none;
	  }

	  table.blueTable tfoot td 
	  {
  		font-size: 10px;
	  }
	  table.blueTable tfoot .links 
	  {
  		text-align: right;
	  }
	  table.blueTable tfoot .links a
	  {
  		display: inline-block;
		background: #1C6EA4;
		color: #FFFFFF;
		padding: 2px 8px;
		border-radius: 5px;
	  }
	    
      #welcome{
        font-size: 38px;
        font-weight: bold;
      }
    </style>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0EH8PZc2UblLuk9vKzJraXrtvkCOJglY&callback=intmap">
    </script>
    <script src="./js/home-control.js"></script>
    <link rel ="stylesheet" href ="css/home-style.css"/>
  </head>
  
  <body ng-controller="HomePageCtrl">
    <nav class="navbar navbar-default probootstrap-navbar" id="top">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">PAW-MD</a>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#Maps" data-nav-section="Nearest Pet Stores">Nearest Pet Stores</a></li>
            <li><a href="#foodRecommendation" data-nav-section="Food Recommendations">Food Recommendations</a></li>
            <li><a href="#groomRecommendation" data-nav-section="Groom Recommendations">Grooming Recommendations</a></li>
          </ul>
        </div>
      </div>
    </nav> 
    
    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image: url(images/gt.jpg); max-height: 100%;" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-sm-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate"></h1>
            <br><br>
            <h2 class="welcome">Welcome to PAW-MD</h2>
            <a href="#searchInfo" class="btn btn-success" role="button">Search Breed Info</a>
            <button class="btn btn-success" ng-click="breedSearch()">List of Breed Name</button>
          </div>
        </div>
      </div>
    </section>
    
    <section class="probootstrap-section" data-section="SearchBreedInfo">
      <div class="container" id="searchInfo">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading row text-center"> 
          <p id="searchInfo"></p>
          <h2 class="mb15 text-black probootstrap-heading" >Search Breed Info</h2>
          </div>
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading row text-center"> 
              <form>
                <input ng-model="breed_name" type="text" placeholder="Enter a Breed Name" required>
                <button ng-click="getBreedInfo()">Get Breed Info</button>
              </form>
            <br><br><br>
              <div>
              <h2> {{breedInfo.breedName}}</h2>
            	
            	<table class="blueTable">
            		<thead>
            			<tr>
            				<th>Information Category </th>
            				<th>Information Found </th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr>
            				<td>Food Type</td>
            				<td>{{breedInfo.foodType}}</td>
            			</tr>
            			<tr>
            				<td>Feeding Frequency</td>
            				<td>{{breedInfo.feeding}}</td>
            			</tr>
            			<tr>
            				<td>Exercise Tips</td>
            				<td>{{breedInfo.walkTime}}</td>
            			</tr>
            			<tr>
            				<td> Health Concerns </td>
            				<td>{{breedInfo.health}}</td>
            			</tr>
            			<tr>
            				<td>Average Life-Span</td>
            				<td>{{breedInfo.lifespan}}</td>
            			</tr>
            			<tr>
            				<td>Average Female Weight</td>
            				<td>{{breedInfo.femaleWeight}}</td>
            			</tr>
            			<tr>
            				<td>Average Male Weight</td>
            				<td>{{breedInfo.maleWeight}}</td>
            			</tr>
            		</tbody>
            	</tr>
           	</table>
              </div>
              <a href="#top">Back to the top</a>
              <div id = "border">
                <img src="images/border/border.png" width = "200px" height = "150px">
                <img src="images/border/dog_face.jpg"width = "80px" height = "80px">
                <img src="images/border/border.png"width = "200px" height = "150px">
              </div>
          </div>
      </div>
    </section> 
    
    <section class="probootstrap-section" data-section="NearestPetStores">
      <div class="container">
        <div class="row text-center mb30">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading"> 
            <p id = "Maps"></p>
            <h2 class="mb30 text-black probootstrap-heading">Nearest Pet Stores</h2>
            <button onclick="intmap()" style="float: right">Search</button>
            <div style="overflow: hidden;">
                <form> Enter Location: <input style="width: 70%;" type ="text" id ="userLocation" name="place"></form>
            </div>
            
            <div id ="initialmap" > 
              <iframe src="https://maps.google.com/maps?q=united%20state&t=&z=3&ie=UTF8&iwloc=&output=embed&zoom=9" width =120% height=100%  style = "display:block"></iframe>
            </div>
            <p id="map" style="overflow: hidden; display:none"></p>
          </div>
        </div>
        <center>
          <a href="#top">Back to the top</a>
          <div id = "border">
            <img src="images/border/border.png" width = "200px" height = "150px">
            <img src="images/border/dog_face.jpg"width = "80px" height = "80px">
            <img src="images/border/border.png"width = "200px" height = "150px">
           </div>
        </center>
    </section>
   
   
    <section class="probootstrap-section" data-section="foodRecommendation">
      <div class="container" id = "foodRecommendation">
        <div class="row text-center mb30">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Food Recommendations</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Farmina: N&D Ancestral Grain Canine</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Dry Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/grain.jpg" width ="200px" height ="183px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Farmina: N&D Grain Free Canine</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Dry Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/pupp.jpg" width ="200px" height ="183px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Orijen: Dry Puppy</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Dry Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/puppy.jpg" width ="200px" height ="198px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Authority Immunity + DIgestive Health Puppy</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Wet Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/zz.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Blue Buffalo: Blue Freedom Grain Free</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Wet Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/aa.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Canidae: Grain Free Pure Foundations For Puppies</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Wet Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/bb.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>BLUE Buffalo Life Protection Formula </h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Large Breed Dog Food (Dry)</p></li>
                  <li><img src="images/adult-dry/blue.JPG" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Wellness Complete Health Large Breed</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Large Breed Dog Food (Dry)</p></li>
                  <li><img src="images/adult-dry/2.png" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>IAMS PROACTIVE HEALTH</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Large Breed Dog Food (Dry)</p></li>
                  <li><img src="images/adult-dry/3.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Hill’s Science Diet Adult 7+ Longevity</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Senior Dog Food</p></li>
                  <li><img src="images/adult-dry/4.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Wellness complete health senior</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Senior Dog Food</p></li>
                  <li><img src="images/adult-dry/5.png" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Annamaet Grain-Free Re-juvenate</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Senior Dog Food</p></li>
                  <li><img src="images/adult-dry/re.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Blue Buffalo Wilderness Rocky Mountain </h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>(Seniors)High Quality</p></li>
                  <li><img src="images/adult-dry/10.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Taste Of The Wild<br></h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>(Dry) High Quality</p></li>
                  <li><img src="images/adult-dry/taste.jpeg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Rachael Ray Nutrish Natural</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>(Wet)High Quality</p></li>
                  <li><img src="images/adult-dry/13.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <center>
          <a href="#top">Back to the top</a>
          <div id = "border">
            <img src="images/border/border.png" width = "200px" height = "150px">
            <img src="images/border/dog_face.jpg"width = "80px" height = "80px">
            <img src="images/border/border.png"width = "200px" height = "150px">
          </div>
        </center>
    </section>
    
    <section class="probootstrap-section" data-section="groomRecomendation">
      <div class="container" id = "groomRecommendation">
        <div class="row text-center mb30">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Grooming Recommendations</h2>
          </div>
        </div>

        <div class="row">
          <center><h3 class="mb30 text-black probootstrap-heading">Shampoo</h3></center>
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Earthbath All Natural Pet Shampoo</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Ideal for Sensitive/All Coats</p></li>
                  <li><img src="images/grooming/earthbath.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Pro Pet Works Natural Oatmeal Dog Shampoo + Conditioner</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Ideal for Hypoallergenic Coats</p></li>
                  <li><img src="images/grooming/propet.jpeg" width ="200px" height ="184px"></li>
                </ul>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Wahl’s Flea and Tick Shampoo</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Ideal for Flea-Prone Coats</p></li>
                  <li><img src="images/grooming/flea.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="row">
          <center><h3 class="mb30 text-black probootstrap-heading">Brushes</h3></center>
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>FURminator deShedding Tool</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>De-shedding Tool</p></li>
                  <li><img src="images/grooming/furmin.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Hertzko Self Cleaning Slicker Brush</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Slicker Brush</p></li>
                  <li><img src="images/grooming/brush.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
		  
	  <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Activet DUO Undercoater</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Professional brush combination of the MatZapper and the CoatGrabber brushes</p></li>
                  <li><img src="images/grooming/lg20168482429.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
		  
	  <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Activet DUO SilCoater</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Professional brush combination of the Pro Soft and the Super Soft CoatGrabber brushes</p></li>
                  <li><img src="images/grooming/lg2016848146.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>KONG ZoomGroom</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Grooming Toy</p></li>
                  <li><img src="images/grooming/kong.jpeg" width ="200px" height ="214px"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
          
          <div class="row">
          <center><h3 class="mb30 text-black probootstrap-heading">Leashes</h3></center>
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>PetSafe Nylon Dog Leash</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Classic Leash</p></li>
                  <li><img src="images/leash/leash.jpg" width ="200px" height ="190px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Flexi New New Comfort Tape Leash</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Retractable Leash</p></li>
                  <li><img src="images/leash/retrack.jpg" width ="200px" height ="184px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>EzyDog ZERO SHOCK Leash</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p> Shock Absorbing Leash</p></li>
                  <li><img src="images/leash/sos.jpg" width ="200px" height ="198px"></li>
                </ul>
              </div>
            </div>
          </div>

	</div>
	
	<div class="row">
          <center><h3 class="mb30 text-black probootstrap-heading">Other Grooming Tools</h3></center>
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Ergonomic Guillotine Style Nail Clipper</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Nail Clipper</p></li>
                  <li><img src="images/grooming/jsw_TL306.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
		
	  <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>SureGrip Nail Scissors</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Nail Clipper for Smaller Breeds</p></li>
                  <li><img src="images/grooming/400x400_TL3032.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
		
	  <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Warren London Nail File</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>High-Quality Nail File</p></li>
                  <li><img src="images/grooming/lg2016126143142.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
		
	  <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Dremel 7.2 V MultiPro Cordless Grinding Kit</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Cordless Nail Grinder</p></li>
                  <li><img src="images/grooming/jsw_dr7700.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
		
	  <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Aaronco Pro-File for Pets Diamond Coated Nail File 8</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Stainless steel, durable nail file</p></li>
                  <li><img src="images/grooming/jsw_aaronconailfile.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
		
	<div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Aaronco Sumo Raker</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Pre-dulled raker used to take out large areas of topcoat and undercoat</p></li>
                  <li><img src="images/grooming/lg2016122011316.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
	      
	<div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Aaronco Magna Carder</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Sharp brush used for carding and stripping thickcoated breeds.</p></li>
                  <li><img src="images/grooming/lg2016122011314.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
	    
	<div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Hair Puller Straight with Coated Handle</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Small hemostats used to pull excess ear hair and prevent ear infections.</p></li>
                  <li><img src="images/grooming/jsw_mf8410NEW.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
	    
	    <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Hair Puller Curved with Coated Handle</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Small hemostats used to pull excess ear hair and prevent ear infections.</p></li>
                  <li><img src="images/grooming/jsw_pd8411NEW.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
          <center>
            <a href="#top">Back to the top</a>
            <div id = "border">
              <img src="images/border/border.png" width = "200px" height = "150px">
              <img src="images/border/dog_face.jpg"width = "80px" height = "80px">
              <img src="images/border/border.png"width = "200px" height = "150px">
            </div>
          </center>	   
    </section>
    
    <footer class="probootstrap-footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            &copy; 2017 <a href="https://uicookies.com/">uiCookies:Frame</a>. &copy; 2018 SnackOverflowed. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://uicookies.com">uicookies.com</a> <br> Modified by SnackOverflowed
          </div>
        </div>
      </div>
    </footer>
      
    <script>
      function intmap(){
          var x = document.getElementById("initialmap"); //make the initial map dissapear
          x.style.display = "none";
          var x = document.getElementById("map"); //make the initial map dissapear
          x.style.display = "block";
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat:37.0902, lng: -95.7129}
          });
          var userLocation = document.getElementById("userLocation").value;
          if (userLocation!==""){
            inputLocation(userLocation);
          }
        }
        
        function inputLocation(userLocation){
          if(userLocation === ""){intmap();}
          if(userLocation==="chino"){chino();}
          if(userLocation==="91710"){chino();}
          if(userLocation==="chino hill"){chinohill();}
          if(userLocation==="91765"){chinohill();}
          if(userLocation==="pomona"){pomona();}
          if(userLocation==="91766"){pomona();}
          if(userLocation==="west covina"){westcovina();}
          if(userLocation==="91790"){westcovina();}
          if(userLocation==="covina"){covina();}
          if(userLocation==="91723"){covina();}
          if(userLocation==="montclair"){montclair();}
          if(userLocation==="91763"){montclair();}
          if(userLocation==="clairmont"){clairmont();}
          if(userLocation==="91711"){clairmont();}
          if(userLocation==="diamond bar"){diamondbar();}
          if(userLocation==="91765"){diamondbar();}
        }
        
        var locations = [
          {lat: 34.000810, lng: -117.724040 ,info: "<h3>Chino PetCo</h3><p>Address:3820 Grand Ave, Chino, CA 91710</p><p> Phone: (909) 364-9807</p>" },
          {lat: 34.068740, lng: -117.935380,info: "<h3>Westcovina Petco Animal Supplies</h3><p>Address: 1050 W Covina Pkwy, West Covina, CA 91790</p><p> Phone: (626) 813-9040</p>"},
          {lat: 34.107600, lng: -117.731260,info: "<h3>clairmont PetCo</h3><p> Address: 905 W Foothill Blvd, Claremont, CA 91711.</p><p> Phone: (909) 399-9101</p>" },
          {lat: 34.114760, lng: -117.769660,info: "<h3>La Verne PetCo</h3><p> Address: 1572 Foothill Blvd, La Verne, CA 91750,</p><p> Phone: (909) 450-2190</p>" },


          {lat: 34.017330, lng: -117.686210,info: "<h3>Chino PetSmart</h3><p> Address: 11945 Central Ave, Chino, CA 91710,</p><p> Phone: (909) 628-6665</p>" },
          {lat: 34.016320, lng: -117.745790,info: "<h3>ChinoHill PetSmart</h3><p> Address: 13001 Peyton Dr, Chino Hills, CA 91709</p><p> Phone: (909) 627-4849</p>" },
          {lat: 34.028770, lng: -117.831770,info: "<h3>City of indutry PetSmart</h3><p> Address: 21848 Valley Blvd, City of Industry, CA 91789</p><p>Phone: (909) 594-5043</p>" },
          {lat: 34.073160, lng: -117.883000,info: "<h3>West Covina PetSmart</h3><p> Address: 2851 E Eastland Center Dr Fsu9, West Covina, CA 91791,</p><p> Phone: (626) 331-2753</p>" },
          {lat: 34.034360, lng: -117.913130,info: "<h3>West Covina PetSmart </h3><p> Address: 2350 S Azusa Ave, West Covina, CA 91792,</p><p> Phone: (626) 964-8013</p>" },

          {lat: 34.028380, lng: -117.758360,info: "<h3>WalMart Pomona</h3><p> Address: 80 Rio Rancho Rd, Pomona, CA 91766</p><p> Phone: (909) 620-4602</p>" },
          {lat: 34.073380, lng: -117.887280,info: "<h3>West Covina WalMart</h3><p> 2753 E Eastland Center Dr #5555, West Covina, CA 91791,</p><p>Phone: (626) 332-4608</p>" },
          {lat: 34.103590, lng: -117.909400,info: "<h3>West Covina WalMart</h3><p> Address: 1275 N Azusa Ave, Covina, CA 91722,</p><p> Phone: (626) 339-4161</p>" },
          {lat: 33.995350, lng: -117.719390,info: "<h3>Chino WalMart</h3><p> Address: 3943 Grand Ave, Chino, CA 91710</p><p> Phone: (909) 364-1968</p>" },

          {lat: 34.041820, lng: -117.799240,info: "<h3>CHino All Pets Medical & Surgical Center</h3><p> Address: 3070 W Temple Ave, Phillips Ranch, CA 91766</p><p> Phone: (909) 622-1044</p>" },

          {lat: 34.062010, lng: -117.776030,info: "<h3>Pomona Lucky Pets Grooming Salon</h3><p> Address: 1565 W Holt Ave #2, Pomona, CA 91768</p>" },
          {lat: 33.988290, lng: -117.822570,info: "<h3>Diamond Happy Doggie Spa</h3><p> Address: 365 S Diamond Bar Blvd, Diamond Bar, CA 91765,</p><p> Phone: (909) 396-4500</p>" },
          {lat: 34.106670, lng: -117.800670,info: "<h3>San Dimas</h3><p> Address: 143 E Bonita Ave, San Dimas, CA 91773</p><p> Phone: (909) 599-3383</p>" },
          {lat: 34.088330, lng: -117.855490,info: "<h3>Covina Pet Spaw and Grooming Covina</h3><p> Address: 2900, 984 E Badillo St # A, Covina, CA 91724,</p><p>Phone: (626) 331-4348 </p>" },
          {lat: 34.066940, lng: -117.751180,info: "<h3>Lorrie's Pet Grooming</h3><p> Address: 928 N Garey Ave, Pomona, CA 91767</p><p> Phone: (909) 865-8891</p>" },
          {lat: 34.080740, lng: -117.756870,info: "<h3>Lili's Pet Grooming</h3><p> Address: 105 W Willow St, Pomona, CA 91768,</p><p>Phone: (909) 622-3272</p>" },
          {lat: 34.113370, lng: -117.765070,info: "<h3>Pet Bath USA</h3><p> Address: 2117 Foothill Blvd h, La Verne, CA 91750,</p><p> Phone: (909) 593-8602</p>" },
          {lat: 34.008630, lng: -117.689680,info: "<h3>Chino Mutt Cutts Dog Spa</h3><p> Address: 13460 Central Ave unit G, Chino, CA 91710</p><p> Phone: (909) 902-9898</p>" },
          {lat: 34.031490, lng: -117.667670,info: "<h3>Pet Bath USA</h3><p> Address: 12345 Mountain Ave # S, Chino, CA 91710</p><p> Phone: (909) 627-6662</p>" }
        ];
        var labels = ["Chino Petco", "Westcovina Petco", "Clairmont Petco","La Verne PetCo",
                      "Chino PetSmart","Chino Hills PetSmart","City of indutry PetSmart","West Covina\s' Eastland PetSmart","West Covina's Azusa PetSmart",
                      "Pomona WalMart", "West covina WalMart","West covina WalMart","Chino WalMart",
                      "CHino All Pets Medical & Surgical Center Address",
                      "Pomona Lucky Pets Grooming Salon","diamond Happy Doggie Spa","San Dimas Pets Grooming Salon",
                      "Covina Pet Spaw and Grooming Covina","Lorrie's Pet Grooming","Lili's Pet Grooming",
                      "Pet Bath USA","Pet Bath USA","Pet Bath USA"
                      ];    
                      
        

        function chino() {
          var infoWin = new google.maps.InfoWindow();
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0122, lng: -117.6889}
          });
          var markers = locations.map(function(location, i) {
            var marker = new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
            google.maps.event.addListener(marker,'click',function(evt)
            {
              infoWin.setContent(location.info);
              infoWin.open(map, marker);
            })
            return marker;
          });
          
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        
        function chinohill(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0551, lng: -117.7500}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }  
        function pomona(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0551, lng: -117.7500}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
          
        function westcovina(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0686, lng: -117.9390}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }  
        
        function covina(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0900, lng: -117.8903}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
        
        function clairmont(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0551, lng: -117.7500}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
        
        function montclair(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0775, lng: -117.6898}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
          
        function diamondbar(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0286, lng: -117.8103}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }  
          
          
    </script>
    </body> 
</html>
