<html ng-app="pawmdApp" >
  <!-- This page uses AngularJS -->
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Paw-MD</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <style>
      #map {
        height: 100%;
        width: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0EH8PZc2UblLuk9vKzJraXrtvkCOJglY&callback=initMap">
    </script>
    <script src="./js/home-control.js"></script>
    <link rel ="stylesheet" href ="css/home-style.css"/>
  </head>
  
  <body ng-controller="HomePageCtrl">
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">PAW-MD</a>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#Maps" data-nav-section="Nearest Pet Stores">Nearest Pet Stores</a></li>
            <li><a href="#foodRecommendation" data-nav-section="Food Recormendation">Food Recommendation</a></li>
          </ul>
        </div>
      </div>
    </nav> 
    
    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image: url(images/gt.jpg); max-height: 100%;" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-sm-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate"></h1>
            <p> say something here</p>
            <a href="#searchInfo" class="btn btn-success" role="button">Search Breed Info</a>
            <button class="btn btn-success" ng-click="breedSearch()">List of Breed Name</button>
          </div>
        </div>
      </div>
    </section>
    
    <section class="probootstrap-section" data-section="SearchBreedInfo">
      <div class="container" id="searchInfo">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading row text-center"> 
          <p id="searchInfo"></p>
          <h2 class="mb15 text-black probootstrap-heading" >Search Breed Info</h2>
        </div>
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading row text-center"> 
            <form>
	      <input ng-model="breed_name" type="text" placeholder="Enter a Breed Name" required>
	      <button ng-click="getBreedInfo()">Get Breed Info</button>
	    </form>
            <div>
              <p>{{breedInfo.breedName}}</p>
              <p>{{breedInfo.foodType}}</p>
              <p>{{breedInfo.walkTime}}</p>
              <p>{{breedInfo.feeding}}</p>
              <p>{{breedInfo.health}}</p>
              <p>{{breedInfo.lifespan}}</p>
              <p>{{breedInfo.groming}}</p>
              <p>{{breedInfo.femaleWeight}}</p>
              <p>{{breedInfo.maleWeight}}</p>
            </div>
        </div>
      </div>
    </section> 
    <section class="probootstrap-section" data-section="NearestPetStores">
      <div class="container">
        <div class="row text-center mb30">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading"> 
            <p id = "Maps"></p>
            <h2 class="mb30 text-black probootstrap-heading">Nearest Pet Stores</h2>
            <form> Enter Location: <input type ="text" id ="userLocation" name="place"></form>
            <button onclick="inputLocation()">Search</button>
            <p id="map"></p>
          </div>
        </div>
    </section>
   
    <section class="probootstrap-section" data-section="foodRecommendation">
      <div class="container" id = "foodRecommendation">
        <div class="row text-center mb30">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Food Recommendations</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Farmina: N&D Ancestral Grain Canine</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Dry Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/grain.jpg" width ="200px" height ="183px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Farmina: N&D Grain Free Canine</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Dry Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/pupp.jpg" width ="200px" height ="183px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Orijen: Dry Puppy</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Dry Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/puppy.jpg" width ="200px" height ="198px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Authority Immunity + DIgestive Health Puppy</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Wet Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/zz.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Blue Buffalo: Blue Freedom Grain Free</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Wet Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/aa.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Canidae: Grain Free Pure Foundations For Puppies</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Wet Dog Food For Puppies</p></li>
                  <li><img src="images/adult-dry/bb.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>BLUE Buffalo Life Protection Formula </h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Large Breed Dog Food (Dry)</p></li>
                  <li><img src="images/adult-dry/blue.JPG" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Wellness Complete Health Large Breed</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Large Breed Dog Food (Dry)</p></li>
                  <li><img src="images/adult-dry/2.png" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>IAMS PROACTIVE HEALTH</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Large Breed Dog Food (Dry)</p></li>
                  <li><img src="images/adult-dry/3.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Hill’s Science Diet Adult 7+ Longevity</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Senior Dog Food</p></li>
                  <li><img src="images/adult-dry/4.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Wellness complete health senior</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Senior Dog Food</p></li>
                  <li><img src="images/adult-dry/5.png" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Annamaet Grain-Free Re-juvenate</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Senior Dog Food</p></li>
                  <li><img src="images/adult-dry/re.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Blue Buffalo Wilderness Rocky Mountain </h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>(Seniors)High Quality</p></li>
                  <li><img src="images/adult-dry/10.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Taste Of The Wild<br></h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>(Dry) High Quality</p></li>
                  <li><img src="images/adult-dry/taste.jpeg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Rachael Ray Nutrish Natural</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>(Wet)High Quality</p></li>
                  <li><img src="images/adult-dry/13.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </section>






    <section class="probootstrap-section" data-section="groomRecomendation">
      <div class="container" id = "groomRecommendation">
        <div class="row text-center mb30">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Grooming Recommendations</h2>
          </div>
        </div>
        <div class="row">
          <center><h3 class="mb30 text-black probootstrap-heading">Shampoo</h3></center>
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Earthbath All Natural Pet Shampoo</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Ideal for Sensitive/All Coats</p></li>
                  <li><img src="images/grooming/earthbath.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Earthbath All Natural Pet Shampoo</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Ideal for Hypoallergenic Coats</p></li>
                  <li><img src="images/grooming/propet.jpeg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Wahl’s Flea and Tick Shampoo</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Ideal for Flea-Prone Coats</p></li>
                  <li><img src="images/grooming/flea.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>



          <div class="row">
          <center><h3 class="mb30 text-black probootstrap-heading">Brushes</h3></center>
          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>FURminator deShedding Tool</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>De-shedding Tool</p></li>
                  <li><img src="images/grooming/furmin.jpg" width ="200px" height ="215px"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>Hertzko Self Cleaning Slicker Brush</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Slicker Brush</p></li>
                  <li><img src="images/grooming/brush.jpg" width ="200px" height ="200px"></li>
                </ul>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
              <div class="mb20"><h2>KONG ZoomGroom</h2></div>
              <div>
                <ul class="probootstrap-list text-center mb20">
                  <li><p>Grooming Toy</p></li>
                  <li><img src="images/grooming/kong.jpeg" width ="200px" height ="214px"></li>
                </ul>
              </div>
            </div>
          </div>

    </section>



    
    <footer class="probootstrap-footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            &copy; 2017 <a href="https://uicookies.com/">uiCookies:Frame</a>. &copy; 2018 SnackOverflowed. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://uicookies.com">uicookies.com</a> <br> Modified by SnackOverflowed
          </div>
        </div>
      </div>
    </footer>
      
    <script>
        function inputLocation(){
          var userLocation = document.getElementById("userLocation").value;
          if(userLocation === ""){intmap();}
          if (userLocation==="chino"){chino();}
          if(userLocation==="chino hill"){chinohill();}
          if(userLocation==="pomona"){pomona();}
          if(userLocation==="west covina"){westcovina();}
          if(userLocation==="covina"){westcovina();}
          if(userLocation==="montclair"){westcovina();}
          if(userLocation==="clairmont"){westcovina();}
          if(userLocation==="diamond bar"){westcovina();}
        }
        var locations = [
          {lat: 34.000810, lng: -117.724040}, // chino PC Address: 3820 Grand Ave, Chino, CA 91710, Phone: (909) 364-9807
          {lat: 34.068740, lng: -117.935380}, //Westcovina Petco Animal Supplies Address: 1050 W Covina Pkwy, West Covina, CA 91790 Phone: (626) 813-9040
          {lat: 34.107600, lng: -117.731260}, // clairmont PC Address: 905 W Foothill Blvd, Claremont, CA 91711. Phone: (909) 399-9101
          {lat: 34.114760, lng: -117.769660},// La Verne PC Address: 1572 Foothill Blvd, La Verne, CA 91750, Phone: (909) 450-2190


          {lat: 34.017330, lng: -117.686210}, // chino PS Address: 11945 Central Ave, Chino, CA 91710, Phone: (909) 628-6665
          {lat: 34.016320, lng: -117.745790}, // chinoHill PS Address: 13001 Peyton Dr, Chino Hills, CA 91709 Phone: (909) 627-4849
          {lat: 34.028770, lng: -117.831770}, // City of indutry Address: 21848 Valley Blvd, City of Industry, CA 91789,Phone: (909) 594-5043
          {lat: 34.073160, lng: -117.883000}, //West Covina Address: 2851 E Eastland Center Dr Fsu9, West Covina, CA 91791, Phone: (626) 331-2753
          {lat: 34.034360, lng: -117.913130}, // West Covina Address: 2350 S Azusa Ave, West Covina, CA 91792, Phone: (626) 964-8013

          {lat: 34.028380, lng: -117.758360}, //WalMart Pomona Address: 80 Rio Rancho Rd, Pomona, CA 91766 Phone: (909) 620-4602
          {lat: 34.073380, lng: -117.887280}, // Westcovina 2753 E Eastland Center Dr #5555, West Covina, CA 91791,Phone: (626) 332-4608
          {lat: 34.103590, lng: -117.909400}, // W Covina Address: 1275 N Azusa Ave, Covina, CA 91722, Phone: (626) 339-4161
          {lat: 33.995350, lng: -117.719390}, //W chino Address: 3943 Grand Ave, Chino, CA 91710 Phone: (909) 364-1968

          {lat: 34.041820, lng: -117.799240},// CHino All Pets Medical & Surgical Center Address: 3070 W Temple Ave, Phillips Ranch, CA 91766 Phone: (909) 622-1044

          {lat: 34.062010, lng: -117.776030},//Pomona Lucky Pets Grooming Salon Address: 1565 W Holt Ave #2, Pomona, CA 91768
          {lat: 33.988290, lng: -117.822570}, // diamond Happy Doggie Spa Address: 365 S Diamond Bar Blvd, Diamond Bar, CA 91765, Phone: (909) 396-4500
          {lat: 34.106670, lng: -117.800670}, // San Dimas Address: 143 E Bonita Ave, San Dimas, CA 91773 Phone: (909) 599-3383
          {lat: 34.088330, lng: -117.855490}, // Covina Pet Spaw and Grooming Covina Address: 2900, 984 E Badillo St # A, Covina, CA 91724,Phone: (626) 331-4348 
          {lat: 34.066940, lng: -117.751180}, //Lorrie's Pet Grooming Address: 928 N Garey Ave, Pomona, CA 91767 Phone: (909) 865-8891
          {lat: 34.080740, lng: -117.756870}, // Lili's Pet Grooming Address: 105 W Willow St, Pomona, CA 91768,Phone: (909) 622-3272
          {lat: 34.113370, lng: -117.765070},//Pet Bath USA Address: 2117 Foothill Blvd h, La Verne, CA 91750, Phone: (909) 593-8602
          {lat: 34.008630, lng: -117.689680}, // Chino Mutt Cutts Dog Spa Address: 13460 Central Ave unit G, Chino, CA 91710 Phone: (909) 902-9898
          {lat: 34.031490, lng: -117.667670} // Pet Bath USA Address: 12345 Mountain Ave # S, Chino, CA 91710 Phone: (909) 627-6662
        ];
        var labels = ["Chino Petco", "Westcovina Petco", "Clairmont Petco","La Verne PetCo",
                      "Chino PetSmart","Chino Hills PetSmart","City of indutry PetSmart","West Covina\s' Eastland PetSmart","West Covina's Azusa PetSmart",
                      "Pomona WalMart", "West covina WalMart","West covina WalMart","Chino WalMart",
                      "CHino All Pets Medical & Surgical Center Address",
                      "Pomona Lucky Pets Grooming Salon","diamond Happy Doggie Spa","San Dimas Pets Grooming Salon",
                      "Covina Pet Spaw and Grooming Covina","Lorrie's Pet Grooming","Lili's Pet Grooming",
                      "Pet Bath USA","Pet Bath USA","Pet Bath USA"
                      ];
                      
        function intmap(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {lat:37.0902, lng: -95.7129}
          });
        }
        function chino() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0122, lng: -117.6889}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          }
          
        function chinohill(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0551, lng: -117.7500}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }  
        function pomona(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0551, lng: -117.7500}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
          
        function westcovina(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0686, lng: -117.9390}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }  
        
        function covina(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0900, lng: -117.8903}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
        
        function clairmont(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0551, lng: -117.7500}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
        
        function montclair(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0775, lng: -117.6898}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }
          
        function diamondbar(){
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat:34.0286, lng: -117.8103}
          });
          var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
              position: location,
              label: labels[i % labels.length]
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,{ imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          
        }  
          
    </script>
    </body> 
</html>
