<<<<<<< HEAD
.split {
=======
#breedInput{
    background-image: url('/images/search_Icon.png'); /*adds paw icon */
    background-size: 20px 20px;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL 
{
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}


#myUL li a:hover:not(.header) {
    background-color: #ACD65D; /* Add a hover effect to all links, except for headers */
}
.split
 {
>>>>>>> 696052b9c13d6468634965b0884aad3a9bd19e2e
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  /*overflow-x: hidden; */
  overflow:auto;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
<<<<<<< HEAD
  background-color: #D87900;
=======
  padding-right:20px;
  
>>>>>>> 696052b9c13d6468634965b0884aad3a9bd19e2e
}

/* Control the right side */
.right
 {
  right: 0;
  
 
}

#heading1
{
	color: #7c795d; 
	font-family: 'Trocchi', serif; 
	font-size: 30px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0; 
}
#heading2
{
	color: #00cc00; 
	font-family: 'Muli', sans-serif;
	margin-bottom: 15px;
}


#dogPicture
{
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
  padding-left:100px;
  padding-right:10px;
  padding-top:20px;
 -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#findBreedInfo
{
	float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	
	
}
#findBreedInfo:hover
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
#findBreedInfo:active
{
	position:relative;
	top:1px;
}


#buttonContainer
{
	padding-top: 20px;
	padding-bottom:20px;
}
html 
{ 
  background: url('/images/greyBkg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
